{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet"
	      href="{{ asset('assets/css/form.css') }}">
{% endblock %}

{% if form is defined %}
	{% form_theme form _self %}
{% endif %}
{% block form_row %}
	<div>
		{{ form_label(form) }}
		{{ form_errors(form) }}
		{{ form_widget(form) }}
	</div>
{% endblock %}

{% block body %}
	<div class='form' style="text-align:right;"> {# TODO #}
		{{ form_start(form) }}
		{% block form_title %}{% endblock %}
		{{ form_end(form) }}
	</div>
{% endblock %}
