{% extends 'AppBundle:Default:base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet"
	      href="{{ asset('assets/css/form.css') }}">
{% endblock %}

{% block title %}Register in Blog{% endblock %}

{% block body %}
	{{ form_start(form) }}
	<h1>Registration</h1>
	<h3>Please, fill in the form</h3>
	{{ form_errors(form) }}
	{{ form_end(form) }}
{% endblock %}
